/* About */
/*  - Content */
.about-title {
    font-family: var(--ff-code);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    margin-top: 1.5em;
    margin-bottom: 0.5em;   
}

.about-content {
    width: var(--content-width);
    margin: -6em auto;
}

.about-summary p{
    grid.grid-area: text;
    font-size: var(--fs-body);
    margin: 0;
    text-align: left;
}

.about-experience strong{
    font-family: var(--ff-code);
    font-size: var(--fs-body);
}

.icon {
    padding-right: 1rem;
    font-size: 1.5rem;
}

.timeline ul {
    margin: 0; 
}

.institution-data {
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
}

.institution-data img {
    max-width: 100px
}

.project-info {
    padding-left: 2rem;
}

.about-experience .timeline {
    display: grid;
    grid-template-columns: 80% 20%;
}

.about-experience .timeline-left {
    margin-bottom: 2rem;
}

.about-experience .timeline-right {
    text-align: right;
}

.about-education .timeline {
    display: grid;
    grid-template-columns: 20% 80%;
}

.about-education .timeline-left {}

.about-education .timeline-right {
    text-align: left;
    margin-bottom: 1rem;
}

.about-education strong{
    font-family: var(--ff-code);
    font-size: var(--fs-body);
}

.about-footer {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 5rem;
}


/* Add border bottom */


.about-summary:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.about-experience:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.about-education:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.about-conferences:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}