/* About */
/*  - Content */
.about-title {
    font-family: var(--ff-code);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 1.1;
    margin-top: 1.5em;
    margin-bottom: 0.5em;   
}

.about-content {
    width: var(--content-width);
    margin: -6em auto;
}

.about-summary p{
    grid.grid-area: text;
    font-size: var(--fs-body);
    margin: 0;
    font-size: var(--fs-h3);
    text-align: left;
}

.icon {
    padding-right: 1rem;
    font-size: 1.5rem;
}

.timeline ul {
    margin: 0; 
}

.institution-data {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.institution-data img {
    max-width: 125px
}

.about-experience .timeline {
    display: grid;
    grid-template-columns: 70% 30%;
}

.about-experience .timeline-left {
    margin-bottom: 2rem;
}

.about-experience .timeline-right {
    text-align: right;
}

.about-education .timeline {
    display: grid;
    grid-template-columns: 30% 70%;
}

.about-education .timeline-left {}

.about-education .timeline-right {
    text-align: left;
    margin-bottom: 1rem;
}

.about-footer {
    display: grid;
    grid-template-columns: 60% 40%;
}